

/* GN */
	/**
	 * Bible-Top					: hd0
	 * Header							: hd1
	 * 
	 * Main-Panel					: bd0
	 * 
	 * Left>Frame1				: bd0
	 * VT-NT nonSelected	: bd4
	 * VT-NT Selected			: hd2
	 * 
	 * Center>Frame1				: def
	 * Chapter nonSelected	: bd4
	 * Chapter Selected			: hd2
	 * 
	 * Center>Frame2						: bd0
	 * FrameText>ChapterBox			: bd2 ~ bd3
	 * FrameText>ThumbChapter		: bd0
	 * FrameText>VerseRef>Thumb	: bd3
	 * FrameText>VerseRef>Text	: bd1 ~ def
	 * 
	 * Right>TopCard						: hd3
	*/

:root{
  --white:    #FFFFFF;
  --blacked:  #101010;
  
  /* Headers and Bodies 
  
  ((--(h|b)d\d:\s)(#[\w]{6});(\n\s\s|))
  "$4*",
  
  */
  --hd0: #00005C;
  --hd1: #3B185F;
  --hd2: #C060A1;
  --hd3: #ff9b9b;

  --bd0: #fff7f0;
  --bd1: #f7e0ca;
  --bd2: #F0CAA3;
  --bd3: #e9ba8c;
}
/*
{
  [--hd0: #00005C;
  --hd1: #3B185F;
  --hd2: #C060A1;
  --hd3: #ff9b9b;]

  [--bd0: #fff7f0;
  --bd1: #f7e0ca;
  --bd2: #F0CAA3;
  --bd3: #e9ba8c;]
}
*/